.shop-container {
    display: flex;
}

.product-container {
    width: 70%;
    border-right: 2px solid gray;
    padding: 5px;
    margin: 5px;
}

.cart-container {
    padding: 5px;
    margin: 5px;
}